
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Search</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link href="assets/css/bootstrap.css" rel="stylesheet">
		<style>
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
			.keyword{
				cursor: pointer;
			}
			#suggestions{
				margin-top: 50px;
			}
			.select-suggestion span.label{
				position: relative;
				top: -7px;
				right: -12px;
				font-size: 10px;
			}
			#video-container{
				margin-top: 20px;
			}
			.video-item {
				margin-bottom: 20px;
			}
		</style>
		<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
	</head>

	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">Search test</a>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="span12" id="search-container">
					<span class="keyword-list"></span>
					<input type="search" class="search-keyword" />
				</div>
			</div>
			<div class="row">
				<div class="span12" id="suggestions">

				</div>
			</div>
			<div class="row">
				<div class="span12">
					<div class="row" id="video-container"></div>
				</div>
			</div>
		</div>
		<script type="text/tmpl" class="added-keyword-tmpl">
			<span class="btn keyword" data-cid="<%= keyword.cid %>">
				<%= keyword.item %>
				<i class="icon-remove"></i>
			</span>
		</script>
		<script type="text/tmpl" class="suggestion-tmpl">
			<span class="btn select-suggestion" data-cid="<%= suggestion.cid %>">
				<%= suggestion.item %>
				<span class="label <%= suggestion.type === 'ac' ? 'label-info' : 'label-success' %>"><%=suggestion.type === "ac" ? "autocomplete" : "suggestion"%></span>
			</span>
		</script>
		<script type="text/tmpl" class="video-tmpl">
			<div class="span4 video-item">
				<div class="row">
					<div class="span4">
						<center>
							<img src="./assets/img/nopreview.jpg" width=360 />
						</center>
					</div>
					<div class="span4">
						<a href="/video/<%= video.id %>" target="_blank" ><p><%= video.title %></p></a>
					</div>
					<div class="span4">
						<% _( video.tags ).each(function( tag ){ %>
							<div class="label label-info"><%= tag %></div>
						<% }) %>
					</div>
				</div>
			</div>
		</script>
		<script src="assets/js/jquery.js"></script>
		<script src="assets/js/underscore.js"></script>
		<script src="assets/js/backbone.js"></script>
		<script src="assets/js/app.js"></script>
	</body>
</html>
